<!--NOT IN USE-->
<!--This function handled by Angular-->

<nav>
  <ul class="pager">
    <li class="previous">
      <a href="" ng-click="previousPage()">&larr; Previous</a>
    </li>
    <li class="text-center"><small>Page: {{ page + 1 }}</small></li>
    <li class="next">
      <a href="" ng-click="nextPage()">Next &rarr;</a>
    </li>
  </ul>
</nav>