<article class="customer-details">
  <form novalidate name="form">
    <div class="row">
      <div class="col-md-6">
        <article class="panel panel-primary">
          <header class="panel-heading">
            <h1>Customer</h1>
          </header>
          <section class="panel-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group has-feedback" ng-class="{
                  'has-error': form.firstName.$invalid && form.firstName.$dirty,
                  'has-success': form.firstName.$valid && form.firstName.$touched
                }">
                  <label class="sr-only" for="firstName">First Name</label>
                  <input type="text" class="form-control" required
                         name="firstName" ng-model="customer.first_name">
                  <p class="help-block" ng-messages="form.firstName.$error">
                    <span ng-message="required">First name is required</span>
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group has-feedback" ng-class="{
                  'has-error': form.lastName.$invalid && form.lastName.$dirty,
                  'has-success': form.lastName.$valid && form.lastName.$touched
                }">
                  <label class="sr-only" for="lastName">Last Name</label>
                  <input type="text" class="form-control" required
                         name="lastName" ng-model="customer.last_name">
                  <p class="help-block" ng-messages="form.lastName.$error">
                    <span ng-message="required">Last name is required</span>
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="username" class="sr-only">Username</label>
                  <div class="input-group">
                    <div class="input-group-addon">@</div>
                    <input type="text" class="form-control" required
                           name="username", ng-model="customer.username">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group has-feedback" ng-class="{
                'has-error': form.email.$invalid && form.email.$dirty,
              'has-success': form.email.$valid   && form.email.$touched
            }">
              <label for="email" class="sr-only">Email</label>
              <input type="email" class="form-control" required
                     name="email" ng-model="customer.email">
              <p class="help-block" ng-messages="form.email.$error">
                <span ng-message="required">Email is required</span>
                <span ng-message="email">A valid email address is required</span>
              </p>
            </div>
          </section>
          <footer class="panel-footer">
            <label for="joined">Joined</label> {{customer.joined_at | date}}
          </footer>
        </article>

        <article class="panel panel-default">
          <header class="panel-heading">
            <h2>Shipping Address</h2>
          </header>
          <section class="panel-body">
            <div class="form-group">
              <label for="street-address" class="sr-only">Street Address</label>
              <input type="text" class="form-control" required
                     name="shippingStreet" ng-model="customer.shipping_street">
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="city" class="sr-only">City</label>
                  <input type="text" class="form-control" required
                         name="shippingCity" ng-model="customer.shipping_city">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="state" class="sr-only">State</label>
                  <input type="text" class="form-control"
                         required pattern="[A-Z][A-Z]"
                         name="shippingState" ng-model="customer.shipping_state">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="zip" class="sr-only">Zip</label>
                  <input type="text" class="form-control"
                         required pattern="\d\d\d\d\d[-]\d\d\d\d"
                         name="shippingZip" ng-model="customer.shipping_zipcode">
                  <p class="help-block" ng-messages="form.shippingZip.$error">
                    <span ng-message="required">Zip is required</span>
                    <span ng-message="pattern">Zip must be nine digits</span>
                  </p>
                </div>
              </div>
            </div>
          </section>
        </article>
      </div>
      <div class="col-md-6">
        <article class="panel panel-default">
          <header class="panel-heading">
            <h2 class="h4">Billing Info</h2>
          </header>
          <section class="panel-body">
            <article ng-controller="CustomerCreditCardController"
                     ng-init="setCardholderId(customerId)">
              <div class="row">
                <div ng-if="!creditCard.$resolved">
                  <div class="col-md-10 col-md-offset-1">
                    <aside class="progress">
                      <div class="progress-bar progress-bar-striped active"
                           style="width: 100%">
                        Loading...
                      </div>
                    </aside>
                  </div>
                </div>
                <div ng-if="creditCard.$resolved">
                  <div class="col-md-7">
                    <p class="h4">
                      {{ creditCard.cardNumber }}
                      <span class="label label-success">
                        {{ creditCard.cardType }}
                      </span>
                    </p>
                    <p>
                      <label>Expires</label> 
                      {{ creditCard.expirationMonth }} / 
                      {{ creditCard.expirationYear }}
                    </p>
                  </div>
                  <div class="col-md-5 text-right">
                    <a href="{{creditCard.detailsLink}}"
                       class="btn btn-lg btn-default">
                      View Details
                    </a>
                  </div>
                </div>
              </div>
            </article>
        <article class="well well-sm">
          <header>
            <h1 class="h5">
              Billing Address
              <small>
                <input type="checkbox" 
                       ng-model="customer.billingSameAsShipping"> 
                Same as shipping?
              </small>
            </h1>
          </header>
          <form ng-if="!customer.billingSameAsShipping">

            <div class="form-group">
              <label class="sr-only" for="street-address">
                Street Address
              </label>
              <input type="text" class="form-control" 
                     name="billingStreet" ng-model="customer.billing_street"> 
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="sr-only" for="city">City</label>
                  <input type="text" class="form-control" 
                         name="billingCity" ng-model="customer.billing_city"> 
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label class="sr-only" for="state">State</label>
                  <input type="text" class="form-control" required pattern="[A-Z][A-Z]"
                         name="billingState" ng-model="customer.billing_state"> 
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="sr-only" for="zip">Zip</label>
                  <input type="text" class="form-control" 
                         required pattern="\d\d\d\d\d[-]\d\d\d\d"
                         name="billingZip" ng-model="customer.billing_zipcode"> 
                </div>
              </div>
            </div>
          </form>
        </article>
          </section>
        </article>
        <div class="text-right">
          <button ng-click="save()" class="btn btn-lg btn-primary"
                  ng-disabled="form.$invalid || form.$pristine">
            Save Changes
          </button>
        </div>
      </div>
    </div>
  </form>
</article>